{% extends 'admin/master.html '%}

{% block body %}
<link rel="stylesheet" href="../../static/css/profile.css">
<h1 class="text-danger"> INFORMATION</h1>
{% if current_user.is_authenticated %}
<div>
    <div>
        <label class="profile_label">Full Name</label>
        <div>
            <input type="text" value="{{current_user.assistant.name}}" class="profile_input">
        </div>
    </div>
    <div>
        <label class="profile_label">id Card</label>
        <div>
            <input type="text" value="{{current_user.assistant.idCard}}" class="profile_input">
        </div>
    </div>
    <div>
        <label class="profile_label">Phone Number</label>
        <div>
            <input type="text" value="{{current_user.assistant.phone}}" class="profile_input">
        </div>
    </div>
    <div>
        <label class="profile_label">Email</label>
        <div>
            <input type="text" value="{{current_user.assistant.email}}" class="profile_input">
        </div>
    </div>
    <div>
        <button class="btn btn-success mx-auto mx-md-0 text-white">Update Profile</button>
    </div>
</div>
{% endif %}
{% endblock %}